body {
    margin: auto;
    width: 100%;
    background: #eee8e8;
}

header {
    background: #ffffff;
    text-align: right;
    padding: 2px;
    padding-right: 10px;
    border-bottom: solid 1px #c7c6c6;
}

main {
    padding-top: 5px;
    text-align: center;
    margin: auto;
}

footer {
    background: #ffffff;
    text-align: center;
    bottom: 0;
    width: 100%;
    border-top: solid 1px #c7c6c6;
    padding-top: 5px;
    padding-bottom: 5px;
}

h1 {
    font-size: 20px;
    border-bottom: solid 1px #b4b0b0;
    padding-bottom: 5px;
}

h2 {
    font-size: 14px;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}

.lightboxoutside {
    background: #000000;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    overflow: hidden;
    display: none;
    opacity: 0.9;
    cursor: pointer;
}

.lightbox {
    background: #ffffff;
    width: 850px;
    height: 510px;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    display: none;
}

.lightbox img {
    margin-top: 5px;
    margin-left: 5px;
    width: 500px;
    height: 500px;
    display: inline-block;
    border-radius: 3px;
}

.top {
    color: #181818;
    display: inline-block;
    top: 5px;
    width: 36%;
    margin-left: 10px;
    position: absolute;
}

.block {
    display: inline-block;
    opacity: 0.9;
    filter: grayscale(80%);
    transition: 0.3s;
}

.block:hover {
    transform: scale(1.01);
    opacity: 1;
    filter: grayscale(0%);
    cursor: pointer;
}

.block img {
    width: 300px;
    height: 300px;
}

.closeLightBox {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    padding: 5px;
    border: solid 1px #e0d7d7;
    border-radius: 0 0 0 3px;
}

.closeLightBox:hover {
    background: #c2bfbf;
    border: solid 1px #c2bfbf;
    cursor: pointer;
}